.event-list
  .event
    .event_content
      =image_tag('https://s3.amazonaws.com/StartupStockPhotos/20140808_StartupStockPhotos/95.jpg', width: '100%', height: '200px', class: 'event_image')
      %h3.event_title Railsを学ぼう！
      .user_info
        %p.user_name オオヌキゴウ
        %button.follow-btn フォローする