.show_item_wrapper{
  width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  .show_item{
    width: 560px;
    margin: 0 auto;
    .item_image{
      margin-left: 180px;
    }
    .item_discription{
      margin: 30px 0 30px 30px;
    }
    table.item_info{
      margin-left: 25px;
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;
      border: 2px solid  rgb(170, 170, 170);
      tbody{
        tr{ 
        }
        td{
          text-align: center;
          padding: 10px 0;
          border-bottom: 1px solid  rgb(170, 170, 170);
        }
        .left{
          width: 250px;
          background-color: black;
          font-weight: bold;
          color: white;
        }
        .right{

        }
      }
    }
    #payjp_checkout_box{
      margin: 20px 0 0 180px;
      input{
        padding: 20px 80px;
        border-radius: 30px;
        font-size: 16px;
      }
    }
  }
}

.alert{
  text-align: center;
  background-color: #F35500;
  color: white;
  font-weight: bold;
  margin-bottom: 30px;
  border-radius: 10px;
}