.event-list{
  width: 650px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  .event{
    position: relative;
    z-index: 1;
    width: 300px;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 15px 0 0 15px ;
    &_content{
      .event_image{
        
      }
      .event_title{
        padding-left: 15px;
      }
      .user_info{
        display: flex;
        justify-content: space-around;
        padding-bottom: 10px;
        .user_name{
          display: block;
          text-decoration: none;
          color: rgb(170, 170, 170);
          z-index: 3;
        }
        .follow-btn{
          padding: 10px;
          width: 200px;
          border: 1px solid #ffa201;
          background-color: #ffa201;
          border-radius: 30px;
          color: #fff;
          z-index: 3;
        }
      }
      .show_btn{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
    }
  }
}