.new_event{
  width: 500px;
  margin: 0 auto;
  div{
    height: 50px;
    border-bottom: 1px solid;
    margin-top: 50px;
    label{

    }
    input{
      width: 65%;
      height: 20px;
      margin-left: 30px;
    }
  }
  .new-btn{
    padding: 15px 50px;
    background-color: #FCC800;
    border: 1px solid #FCC800;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    margin: 30px 0 0 150px;
    font-weight: bold;
  }
}