.show_event_wrapper{
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  .show_event{
    width: 560px;
    margin: 0 auto;
    .event_image{

    }
    .event_title{
      margin-top: 30px;
    }
    .event_discription{
      margin: 30px 0;
    }
    table.event_info{
      margin-left: 25px;
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;
      border: 2px solid  rgb(170, 170, 170);
      tbody{
        tr{
        }
        td{
          text-align: center;
          padding: 15px 0;
          border-bottom: 1px solid  rgb(170, 170, 170);
        }
        .left{
          width: 250px;
          background-color: black;
          font-weight: bold;
          color: white;
        }
        .right{
          a{
            color: black;
          }
        }
      }
    }
    .chat_btn{
      text-decoration: none;
      display: block;
      padding: 20px;
      width: 400px;
      border-radius: 40px;
      background-color: #FCC800;
      color: white;
      font-weight: bold;
      font-size: 15px;
      box-shadow: none;
      margin: 40px 0 20px 100px;
      text-align: center;
    }
  }
}

.edit-btn{
  text-decoration: none;
  color: white;
  background-color: #ea352d;
  height: 20px;
  padding: 8px 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  margin: 5px;
}

.destroy-btn{
  text-decoration: none;
  color: white;
  background-color: rgb(170, 170, 170);
  padding: 8px 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 12px;
  height: 20px;
  margin: 5px;
}